body{
  background-image: url("../img/background.jpg");
}

#topbox{
  /*border-width: 5px;*/
  /*align-content: center;*/
  width: 95%;
  height: 150px;
  /*border: 5px white;*/
  /*border: 2px #595959;*/
  border: 4px #1d2099;
  border-radius: 10px;
  border-style: outset;
  /*box-shadow: -5px -5px  5px #888888;*/
  /*margin-top: 15px;
  margin-bottm: 15px;
  margin-left: 75px;*/
  margin: auto;
  margin-top: 75px;
  padding-bottom: 33px;
  padding-top: 2px;
  padding-left: 30px;
  letter-spacing: 2px;
  background-image: url("../img/header.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

#header{
  padding-top: 10px;
  color: #d1d1d1;
  font-family: 'Anton', 'Courier', sans-serif;
  /*text-shadow: 3px 3px #000066;*/
  /*text-shadow: 1px 1px 3px #b3b300;*/
  text-shadow: 2px 2px 6px #00ff00;
  text-outline: 1px red;
  font-size: 4em;
}

#navbar{
  font-family: 'Anton','Courier',sans-serif;
  color: white;
  margin-bottom: 22px;
}

#belowtopbox{
  border-radius: 5px;
  border: 5px white;
  margin: 20px 40px;
  color:#e6e6e6;
  font-size: 0.9em;
}
#belowtopbox p{
  font-size: 1.3em;
}

.logos{
  max-width: 100px;
  border-radius: 5px;
  border: 5px white;
}

.navbar{
  margin: auto;
}

#contains-sections{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  display: block;
}

.sections{
  padding: 20px 30px;
  border-radius: 10px;
  border: 2px #808080;
  border-style: outset;
  margin: 40px 20px;
  color: #e6e6e6;
  list-style-type: circle;
}

#emailme{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  display: block;
  width: 50%;
}
#modalbutton{
  display: table;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 33px;
}
/*Determine how text looks*/
/*e.g.:skills*/
/*.content p {
  color: #e6e6e6;
  margin-top: 15px;
}*/
/*e.g.: html, css*/
/*.content ul {
  color: #e6e6e6;
  margin-top: 15px;
}*/
/*
.content li{
  list-style-type: circle;
}*/

/*.content h3{
  color:#e6e6e6;
  margin-top: 15px;
  font-size: 1.3em;
}*/
/*End of determine how text looks*/
/*p{
  color: #e6e6e6;
}*/
/*.maincontentcontainer{
  margin: auto;
  width: 90%;
  padding: 10px;
}

.col-md-3{
  border-radius: 10px;
  border: 2px #595959;
  border-style: outset;
  margin-left: 20px;
  margin-right: 20px;
}*/
