#bodyIndex{
  background: url("../img/backgroundSpace.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}

#topbox{

  height: 200px;
  margin: auto;
  margin-top: 70px;
  width: 30%;
  height: 100px;
  /*
  border: 3px solid #73AD21;
  */
  text-align: center;
}

#header{
  padding-top: 10px;
  color: #e8e8e8;
  font-family: 'Anton', 'Courier', sans-serif;
  /*text-shadow: 3px 3px #000066;*/
  /*text-shadow: 1px 1px 3px #b3b300;*/
  text-shadow: 3px 3px 9px #00ff00;
  font-size: 4em;
}

#navbar{
  font-family: 'Anton','Courier', sans-serif;
  text: white;
  margin-bottom: 22px;
}

.navlink{
  color: white;
}

#indexMainContent{
  border-radius: 5px;
  /*
  border: 3px solid #73AD21;
  */
  display: block;
  margin: auto;

  /*
  font-size: 0.9em;
  text-shadow: 5px black;
  */
}

#indexMainContent img{
  display: block;
  margin: 0 auto;
  border-radius: 40px;
  width: 400px;
}

.PageHeadline{
  font-family: Courier;
  font-weight: bold;
  text-shadow: 1px 1px 3px #ff0000;
  color:#f2fffa;
  padding-left: 0px;
}

.introp{
  font-family: Arial;
  color:#f5f5f5;
  letter-spacing: 0.5px;
  font-weight: 500;
  text-shadow: 0 0 0.5em #4c657f, 0 0 0.5em #4c657f, 0 0 0.5em #4c657f;
  size: 55px;
}

.centerThisText{
  text-align: center;
  vertical-align: middle;
}

/*
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;


    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}
*/
#introText a {
  color: #ff6600;
  text-decoration: none;
}

#introText a:hover {
  color: #ffb280;
}

#introText ul {
  display: inline-block;
}

.date {
  position: relative;
}

.date div {
  /*visiblity: hidden; */

  display: none;
  position: absolute;
  top: 0;
  left:100%;
  margin-top: -30px; /* approx adjustment for arrow */
  margin-left: 25px; /* approx adjustment for arrow */
  margin-right: 150px;
}

.date a:hover + div {
  cursor: pointer;
  display: block;
  /*visibility: visible; */
  width: 300px;
  line-height: 20px;
  padding: 8px;
  font-size: 14px;
  text-align: left;
  z-index: 999;
  color: rgb(113, 157, 171);
  background: rgb(255, 255, 255);
  border: 4px solid rgb(255, 255, 255);
  border-radius: 5px;
  text-shadow: rgba(0, 0, 0, 0.0980392) 1px 1px 1px;
  box-shadow: #333 -4px 4px 16px 2px;
  -webkit-transition: opacity 100ms ease-in;
  -o-transition: opacity 100ms ease-in;
  -moz-transition: opacity 100ms ease-in;
  transition: opacity 100ms ease-in;
  pointer-events: none;
}

.date div:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-width: 10px;
  border-style: solid;
  border-color: transparent #FFFFFF transparent transparent;
  top: 22px;
  left: -23px;
}

ul{
  list-style-type: none;
}

.logos{
  max-width: 100px;
  border-radius: 5px;
  border: 5px white;
}

.navbar{
  margin: auto;
}

#contains-sections{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  display: block;
}

.sections{
  padding: 20px 30px;
  border-radius: 10px;
  border: 2px #808080;
  border-style: outset;
  margin: 40px 20px;
  color: #e6e6e6;
  list-style-type: circle;
}

#emailme{
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  display: block;
  width: 50%;
}
#modalbutton{
  display: table;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 33px;
  position: bottom;
}



#projectsContent{
  width: 90%;
  margin: 75px 550px 0px 100px;
  /*margin: 75px 350px 0px 20px;*/
  padding-bottom: 33px;
  letter-spacing: 2px;
}


#projectsContent img{
  width: 700px;
}

#skillsBox{
  margin-top: 100px;
}

#columnsOfSkills{
  padding-top: 50px;
}

#bodyProjects{
  background-image: url("../img/ghost-tile.gif");

  background-repeat: repeat;

}

#bodyContact{
  background-color: black;
}

#cube {
  padding-top: 100px;
  display: block;
  margin: auto;
  width: 40%;
}

#icons{

  background: #150000;

  display: block;
  margin:  auto;
  width: 25%;
  text-align: center;

  border-radius: 30px;

  box-shadow:
    /*0f4, 0ff,*/
    /*f0f,0ff*/

    /* inner white */
    inset 0 0 50px #fff,
    /**/
    inset 20px 0 80px #0f4,
    inset -20px 0 80px #00f,
    inset 20px 0 300px #0f4,
    inset -20px 0 300px #00f,
    /*outer white*/
    0 0 25px #fff,
    /**/
    -20px 0 80px #0f4,
    20px 0 80px #00f;
}

#icons i{

 display:inline-block;
 vertical-align: middle;
 margin: 20px;

}



/*Determine how text looks*/
/*e.g.:skills*/
/*.content p {
  color: #e6e6e6;
  margin-top: 15px;
}*/
/*e.g.: html, css*/
/*.content ul {
  color: #e6e6e6;
  margin-top: 15px;
}*/
/*
.content li{
  list-style-type: circle;
}*/

/*.content h3{
  color:#e6e6e6;
  margin-top: 15px;
  font-size: 1.3em;
}*/
/*End of determine how text looks*/
/*p{
  color: #e6e6e6;
}*/
/*.maincontentcontainer{
  margin: auto;
  width: 90%;
  padding: 10px;
}

.col-md-3{
  border-radius: 10px;
  border: 2px #595959;
  border-style: outset;
  margin-left: 20px;
  margin-right: 20px;
}*/
