@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2&family=Cagliostro&family=Fira+Sans:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
}

.pictureForTopSection {
  background-color: #fdfff3;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.pictureForTopSection h2 {
  text-shadow: 5px 0px 6px white, 0px 5px 6px white, -5px 0px 6px white, 0px -5px 6px white;
  color: navy;
}

.pictureForTopSection h3 {
  text-shadow: 5px 0px 6px gray, 0px 5px 6px gray, -5px 0px 6px gray, 0px -5px 6px gray;  
  color: white;
}

.pictureForTopSection p {
  text-shadow: 5px 0px 6px navy, 0px 5px 6px navy, -5px 0px 6px navy, 0px -5px 6px navy;
  color: white;
}

html, body { 
  width: 100%; 
}

body {
  font-size: 22px;
  background: #f7f8fc;
}

h2, h3 {
  font-family: 'Baloo Da 2', cursive; 
}

p {
  font-family: 'Fira Sans', sans-serif;
}

a {
  text-decoration: none;
}

.SectionFont {
  font-family: 'Baloo Da 2', cursive;
  font-weight: 500;
  color: black;
  text-shadow: 2px 2px #e5e5e5;
}

.SectionSpacing {
  margin-left: 2%;;
}

.SectionPadding {
  padding: 2%;
  background-color: #f7fbf7;
}

.header {
  background-color: #f7fbf7;
  padding: 0.5rem;
  box-shadow: 0px 4px 2px 0px rgba(0, 0, 0, 0.2), 15px 5px 5px 0 #f7fbf7;
}

.header a {
  color: white;
  font-weight: 300;
  text-decoration: none;
}

.content {
  display: block;
  margin: 0 auto; 
  max-width: 75%;
}

/* Project Sections */
.project-preview {
  margin-bottom: 2rem;
  box-shadow: 10px 4px 8px 0 rgba(0, 0, 0, 0.2), 0 30px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 5%;
}

.project-container {
  margin: 5% 5%; 
}

@media all and (max-width: 769px) {
  .project-container, .skillsContainer {
    width: 80%;
  } 
  .skillsContainer {
    min-width: 300px;
  }
  .projectPageImageContainer {
    padding: 0% 25%;
  }
  .project h2 {
    font-size: 1.75em;
  }
  .introduction {
    font-size: 0.8em;
    font-weight: 400;
  }
}

@media all and (min-width: 770px) {
  .project-container {
    width: 40%;
    min-width: 300px;
  }
  .projectPageImageContainer {
    padding: 0% 35%;
  }
  .project h2 {
    font-size: 2.75em;
  }
  .introduction {
    font-size: 1em;
    font-weight: 400;
  }
  .skillsContainer {
    width: 20%;
    min-width: 20px;
    margin: 5px;
  }
}

.project-preview h2 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 0.5rem;
}

.project-preview h2 a {
  color: #222;
  text-decoration: none;
}

.project-preview p {
  margin-top: 0.5rem;
  font-size: 1.00rem;
}

/* Generated Pages */
.project {
  font-family: sans-serif; 
  font-size: 0.75em;
}

.project h3,
.project img,
.project p {
  margin-top: 1rem;
}

.project ul {
  margin-top: 0.5rem;
}



